/* General colors and sizes */
:root{
    --upsdell-red:          #B10F2E;
    --radical-red:          #FF1654;
    --white:                #FFFFFF;
    --cyan-process:         #06BEE1;
    --true-blue:            #3467B3;
    --pale-cerulean:        #9DBBDA;
    --glaucous:             #96a0aa;
    --oxford-blue:          #0a0c0e;
    --rich-black-fogra-28:  #1e242b;
    --rich-black-fogra-29:  #15171a;

    --border-sm: 4px;
}
/* Reset properties from html elements */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 101;
}

body{
    scroll-behavior: smooth;
    background-color: var(--oxford-blue);
}

aside{
    position: fixed;
    width: 100%;
    max-width: 450px;
    height: calc(100vh - 52px);
    padding: 16px 8px;
    background-color: var(--rich-black-fogra-28);
    z-index: 100;
}

p{
    font-size: 1.4rem;
    color: var(--glaucous);
    margin-bottom: 16px;
}

.no-overflow{
    overflow: hidden;
}

/* navbar */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 8px 16px;
    background-color: var(--rich-black-fogra-29);
    z-index: 101;
}

.nav__logo{
    font-size: 2.4rem;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: var(--white);
}

.nav__burger{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 35px;
    height: 35px;
    border: none;
    padding: 0;
    background-color: transparent;
}

.nav__burger>div{
    display: flex;
    width: 100%;
    height: 5px;
}

.nav__burger>span{
    width: 100%;
    height: 5px;
    border-radius: var(--border-sm);
    background-color: var(--pale-cerulean);
}

.nav__burger>div>span{
    display: block;
    width: 50%;
    height: 100%;
    background-color: var(--pale-cerulean);
}

.nav__burger>div>span:nth-child(1){
    border-top-left-radius: var(--border-sm);
    border-bottom-left-radius: var(--border-sm);
}

.nav__burger>div>span:nth-child(2){
    border-top-right-radius: var(--border-sm);
    border-bottom-right-radius: var(--border-sm);
}

/* aside menu */
.submenu--in{
    animation-name: submenu-in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.submenu--out{
    animation-name: submenu-out;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.submenu{
    list-style-type: none;
    margin-bottom: 24px;
    font-size: 1.6rem;
}

.submenu>li>a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--pale-cerulean);
}

.aside__footer{
    text-align: center;
}

.aside__footer>p{
    font-size: 1.6rem;
    color: var(--pale-cerulean)
}

.aside__footer>button{
    padding: 8px;
    border: 1px solid var(--upsdell-red);
    border-radius: var(--border-sm);
    width: 150px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--radical-red);
}

/* form */
.form{
    position: fixed;
    padding: 24px 16px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 24px;
    border-radius: var(--border-sm);
    background-color: var(--oxford-blue);
}

.form--in{
    animation-name: form-in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.form--out{
    animation-name: form-out;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.form>label{
    font-size: 1.6rem;
    color: var(--pale-cerulean);
}
.form>input,
.form>select{
    display: block;
    padding: 8px 16px;
    margin: 6px auto 16px;
    width: 100%;
    max-width: 350px;
    border: 1px solid var(--rich-black-fogra-28);
    border-radius: var(--border-sm);
    font-size: 1.5rem;
    color: var(--pale-cerulean);
    background-color: var(--rich-black-fogra-29);
}
.form>input::placeholder{
    color: var(--glaucous);
}
.form>input:hover,
.form>select:hover{
    border: 1px solid var(--true-blue);
    color: var(--glaucous);
}
.form>input:focus,
.form>select:focus{
    outline: none;
    color: var(--true-blue);
    border: 1px solid var(--true-blue);
}

.form>button{
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 250px;
    padding: 8px 16px;
    margin: 24px auto;
    border: 1px solid var(--radical-red);
    border-radius: var(--border-sm);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--radical-red);

    transition: background-color 0.25s ease, color 0.25s ease;
}

.form>button:hover{
    background-color: var(--rich-black-fogra-29);
    color: var(--radical-red);
}

/* graph  styles */
.container{
    display: flex;
    min-height: 100vh;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 8px 16px;
}
.container--column{
    flex-direction: column;
}
.container__tabs{
    align-self: flex-start;
}
.container__tab{
    cursor: pointer;
    padding: 16px;
    border: none;
    border-bottom: var(--border-sm) solid var(--oxford-blue);
    font-size: 1.7rem;
    font-weight: 700;
    background-color: var(--oxford-blue);
    color: var(--glaucous);
}
.container__tab:hover{
    background-color: var(--rich-black-fogra-28);
}
.container__tab--active{
    color: var(--white);
    border-bottom: var(--border-sm) solid var(--radical-red);
    background-color: var(--rich-black-fogra-29);
}

.graph__canvas{
    margin: 24px auto;
    background-color: red;
}
.canvas-graph--cursor-crosshair{
    cursor: crosshair;
}
.section__title{
    margin-bottom: 16px;
    font-size: 2.4rem;
    color: var(--radical-red);
}

/* table container */
.tables-container{
    padding: 24px 8px;
    overflow: hidden;
}

/* Table */
.investment__table{
    width: 100%;
    max-width: 320px;
    font-size: 1.5rem;
    margin: 0 auto 24px;
}

.investment__table th, .investment__table td{
    padding: 8px 16px;
}

.investment__table th{
    color: var(--white);
}

.table-row--in{
    animation-name: table-row-in;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.table-row--out{
    animation-name: table-row-out;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.investment__table td{
    border-radius: 2px;
    font-weight: 700;
    text-align: center;
    color: var(--true-blue);
    background-color: var(--rich-black-fogra-29);

    transition: transform 0.25s ease;
}

.investment__table td:hover{
    transform: scale(1.05);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
}

/* Pageable */
.pageable-table{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}
.pageable-table__button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--upsdell-red);
    border-radius: var(--border-sm);
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--upsdell-red);

    transition: background-color 0.25s ease, color 0.25s ease;
}
.pageable-table__button--active{
    background-color: var(--radical-red);
}

.pageable-table__button:hover{
    color: var(--radical-red);
    background-color: var(--oxford-blue);
}

.pageable-table>button>svg{
    width: 100%;
    height: 100%;
    padding: 4px;
}

.pageable-table>div{
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-grow: 2;
}

.pageable-table>button>svg>path{
    stroke: var(--white);
}

.pageable-table>button:hover>svg>path{
    stroke: var(--upsdell-red);
}

.pageable-table>p{
    font-size: 1.5rem;
}

.inactive{
    display: none;
}

#coordinates{
    position: fixed;
    right: 50px;
    bottom: 0;
}

@keyframes table-row-in{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes table-row-out{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes submenu-in {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes submenu-out {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}

@keyframes form-in {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes form-out {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}